<h1> These are the chessboards </h1>

<div class="panel panel-warning">
<% boards.forEach(function(board)  { %>
    <div class="panel-heading"><%= board.name %></div>
    <div class="panel-body">
      <div class="row board-container">
        <%- include board.ejs %>
        <div class="col-md-6" style="margin-top: 50px;">
          <a href="#" class="btn btn-default btn-lg reset" role="button">Reset</a>
          <a href="#" class="btn btn-warning btn-lg clear" role="button">Clear</a>


          <form class="form-inline" role="form" style="margin-top: 10px">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">FEN</label>
              <input type="text" class="form-control" id="<%=board.name.id%>-fen" placeholder="Enter FEN">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
<% }); %>
<ul>
