<h1> Hellu </h1>

<div class="panel panel-warning">
<% boards.forEach(function(board)  { %>
    <div class="panel-heading"><%= board.name %></div>
    <div class="panel-body">
      <div class="row board-container">
        <%- include board.ejs %>
        <div class="col-md-6" style="margin-top: 50px;">
          <a href="#" class="btn btn-default btn flip" role="button">Flip</a>
          <a href="#" class="btn btn-default btn reset" role="button">Reset</a>
          <a href="#" class="btn btn-warning btn clear" role="button">Clear</a>

          <form class="form-inline fen-form" role="form" style="margin-top: 10px">
            <div class="form-group">
              <label class="sr-only" for="<%=board.id%>-fen">FEN</label>
              <input type="text" class="form-control" id="<%=board.id%>-fen" name="fen" placeholder="Enter FEN">
            </div>
            <button class="btn btn-default btn submit-fen" type="submit">Submit</a>
          </form>
        </div>
      </div>
    </div>
<% }); %>
<ul>
